<% layout('layout/layout.main') %>
<!-- TODO: design content detail customer here -->

<div id="heading">
    <img style="margin-right: 24px" src="/public/assets/img/ic_flags_kr.svg" alt="">
    <div id="noti">
        <a href=""><i class="ti-bell"></i></a>
    </div>
   
    <a href=""><i class="ti-comment"></i></a>
    <img id="heading-avt" src="/public/assets/img/avt.jpg" alt="">
</div>    
<div id="profile">
    <h1>Hồ sơ</h1>
    <div id="profile-heading">
        <ul>
            <li><a href="">Dashboard</a></li> 
            <li><a href="">User</a></li> 
            <li><p><%= customerInfo.name %></p></li>
        </ul>
    </div>
    <div id="profile-img">
        <img id="wallpaper" src="/public/assets/img/IMG.png" alt="">
        <img id="avt" src="/public/assets/img/avt.jpg" alt="">
        <div id="list">
            <div class="list-img">
                <img src="/public/assets/img/ic_profile.svg" alt=""><a href=""> Hồ sơ </a>
            </div>
            <div class="list-img">
                <img src="/public/assets/img/ic_favorite.svg" alt=""><a href=""> Yêu thích </a>
            </div>
            <div class="list-img">
                <img src="/public/assets/img/ic_user_group.svg" alt=""><a href="">Bạn bè</a>
            </div>
            <div class="list-img">
                <img src="/public/assets/img/ic_collections.svg" alt=""><a href=""> Thư viện </a>
            </div>
        </div>
    </div>
</div>

<div id="user-details">
     <div id="user">
         <p>Chủ sở hữu</p>
     </div>
     <div class="line"></div>
     <div class="user-info">
         <div id="user-name">
            <label for="">Tên</label>
            <input type="text" name="" id="" value="<%= customerInfo.name %>">
         </div>
         <div id="user-name">
            <label for="">Email</label>
            <input type="text" name="" id="" value="<%= customerInfo.email %>">
            
         </div>
     </div>
     <div class="user-info">
        <div id="user-name">
           <label for="">Số điện thoại</label>
           <input type="text" name="" id="" value="<%= customerInfo.phone %>">
          
        </div>
        <div id="user-name">
           <label for="">Địa chỉ</label>
           <input type="text" name="" id="" value="<%= customerInfo.address %>"> 
        </div>
    </div>
    <div class="line"></div>
    <div id="edit-btn">
        <a href="">Chỉnh sửa hồ sơ</a>
    </div>
</div>

<div id="search-btn">
    <form action="search">
        <input type="text" name="" id="" placeholder="Tìm kiếm thú cưng của bạn">
        <button type="submit">Search</button>
    </form>

</div>

<div class="line"></div>

<div id="user-pet">
    <% for (let i = 0; i < petsInfo.length; i++) {%>
    <div class="pet-details">
        <img src="/public/assets/img/IMG1.png" alt="">
        <div class="abc">
                <div class="pet-info">
                    <h1 style="color: rgba(255, 255, 255, 1);"> <%= petsInfo[i].name  %></h1>
                    <p style="color: rgba(255, 255, 255, 1);"><%= petsInfo[i].type  %> - <%= petsInfo[i].sex  %> - <%= petsInfo[i].weight  %> kg </p>
                </div>
            
            <a style="color:rgba(255, 255, 255, 1);" href=""><i class="ti-more-alt"></i></a>
        </div>
    </div><% } %>
    
</div><div class="clear"></div>