<!doctype html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport'
          content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <title>List Users</title>
</head>
<body>
<h1>List Users</h1>

<table>
    <thead>
        <tr>
            <td>#</td>
            <td>Username</td>
            <td>Full name</td>
            <td>Phone</td>
            <td>Address</td>
            <td>Status</td>
        </tr>
    </thead>
    <tbody>
        <!--Render data-->
        <% for (let i = 0; i < users.length; i++) {%>
            <tr>
                <td><%= i %></td>
                <td><%= users[i].username %></td>
                <td><%= users[i].name %></td>
                <td><%= users[i].phone %></td>
                <td><%= users[i].address %></td>
                <td><%= users[i].status %></td>
            </tr>
        <% } %>
    </tbody>
</table>

</body>
</html>
